<mat-card>
  <mat-card-header layout="row">
    <mat-card-title>
      <span>{{ msg }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="viewerForm" novalidate>
      <div layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Vendor" formControlName="vendorid">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedVendor" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose a PO" formControlName="reportid" (change)="onPickReport()">
            <mat-option *ngFor="let report of vendorreports" [value]="report">{{report.id}} - {{ report.podate | date: 'shortDate' }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br/>
      <div *ngIf="hasReports" class="row">
        <br/>
        <table style="top:-30px;position:relative;">
            <tr>
              <th colspan="2" align="left">
                  Report: {{selectedReport.id}}
              </th>
              <th colspan="2" align="right">
                Date: {{ selectedReport.podate | date: 'shortDate' }}
              </th>
            </tr>
            <tr style="font-weight:bold;;background-color: #eeeeee">
              <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Name</td>
              <td style="text-align: center;width:60%;padding-top:2vh;padding-bottom: 2vh;">Qty</td>
              <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Cost</td>
              <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Extended</td>
            </tr>
            <tr *ngFor="let item of selectedproducts">
              <td class="text-left" style="padding-top:1vh;padding-bottom: 1vh;">{{item.name}}</td>
              <td width="700" class="text-center" style="padding-top:1vh;padding-bottom: 1vh;text-align: center">{{item.qty}}</td>
              <td style="padding-top:1vh;padding-bottom: 1vh;;text-align: right">{{item.price | currency:'USD':'symbol':'1.2-2'}}</td>
              <td style="padding-top:1vh;padding-bottom: 1vh;;text-align: right">{{item.price * item.qty | currency:'USD':'symbol':'1.2-2'}}</td>
            </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Sub:</td>
            <td style="font-weight: 600;text-align: right;">{{sub | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Tax:</td>
            <td style="font-weight: 600;text-align: right;">{{tax | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{final | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          </table>
          <button mat-raised-button type="submit" (click)="viewPdf()">View PDF</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
