<mat-toolbar color="primary">
  <span>Vendoree Inc.</span>
  <span style="flex: 1 1 auto;"></span>
  <button mat-button [matMenuTriggerFor]="appMenu" align="end">
    <mat-icon>menu</mat-icon>
  </button>
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <a mat-menu-item [routerLink]="['home']">home</a>
  <a mat-menu-item [routerLink]="['vendors']">vendors</a>
  <a mat-menu-item [routerLink]="['products']">products</a>
  <a mat-menu-item [routerLink]="['generator']">generator</a>
  <a mat-menu-item [routerLink]="['viewer']">viewer</a>
</mat-menu>
<router-outlet></router-outlet>
