  <form [formGroup]="productForm" (ngSubmit)="updateSelectedProduct()">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="my-primary-text">
          <mat-panel-title>
            Product Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div layout="row" *ngIf="!selectedProduct.id;else displayidro">
          <mat-form-field flex>
            <input matInput placeholder="Product Id" type="text" formControlName="id">
            <mat-error align="end" [ngStyle]="{'color': 'red'}">
              <span *ngIf="id.hasError('required')">id is required</span>
              <span *ngIf="!id.hasError('required') && id.hasError('idExists')">Id already
exists</span>
            </mat-error>
          </mat-form-field>
        </div>
        <ng-template #displayidro>
          <mat-form-field flex style="margin-bottom: 1rem;font-weight: bolder;" color="accent">
            <input matInput [readonly]="true" placeholder="Product ID" formControlName="id">
          </mat-form-field>
          <br />
        </ng-template>
        <div layout="row">
          <mat-form-field>
            <mat-select placeholder="Vendor" formControlName="vendorid">
              <mat-option *ngFor="let vendor of vendors" [value]="vendor.id">
                {{vendor.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="Product Name" type="text" formControlName="name">
            <mat-hint *ngIf="name.errors && (name.dirty || name.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="name.hasError('required')">Name is required.</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="MSRP" type="number" formControlName="msrp">
            <mat-hint *ngIf="msrp.errors && (msrp.dirty || msrp.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="msrp.hasError('required')">MSRP is required.</p>
              <p *ngIf="!msrp.hasError('required') && msrp.hasError('invalidDouble')">valid format required - ###.##</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="Cost Price" type="number" formControlName="costprice">
            <mat-hint *ngIf="costprice.errors && (costprice.dirty || costprice.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="costprice.hasError('required')">Cost price is required.</p>
              <p *ngIf="!costprice.hasError('required') && costprice.hasError('invalidDouble')">valid format required - ###.##</p>
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>

  <form [formGroup]="inventoryForm" (ngSubmit)="updateSelectedProduct()">
    <mat-accordion>
      <mat-expansion-panel expanded>
        <mat-expansion-panel-header class="my-primary-text">
          <mat-panel-title>
            Inventory Information
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="ROP" type="number" formControlName="rop">
            <mat-hint *ngIf="rop.errors && (rop.dirty || rop.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="rop.hasError('required')">ROP is required.</p>
              <p *ngIf="!rop.hasError('required') && rop.hasError('invalidInt')">valid format required - ###</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="EOQ" type="number" formControlName="eoq">
            <mat-hint *ngIf="eoq.errors && (eoq.dirty || eoq.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="eoq.hasError('required')">EQO is required.</p>
              <p *ngIf="!eoq.hasError('required') && eoq.hasError('invalidInt')">valid format required - ###</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="QOH" type="number" formControlName="qoh">
            <mat-hint *ngIf="qoh.errors && (qoh.dirty || qoh.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="qoh.hasError('required')">QOH is required.</p>
              <p *ngIf="!qoh.hasError('required') && qoh.hasError('invalidInt')">valid format required - ###</p>
            </mat-hint>
          </mat-form-field>
        </div>
        <div layout="row">
          <mat-form-field flex>
            <input matInput placeholder="QOO" type="number" formControlName="qoo">
            <mat-hint *ngIf="qoo.errors && (qoo.dirty || qoo.touched)" align="end" [ngStyle]="{'color': 'red'}">
              <p *ngIf="qoo.hasError('required')">QOO is required.</p>
              <p *ngIf="!qoo.hasError('required') && qoo.hasError('invalidInt')">valid format required - ###</p>
            </mat-hint>
          </mat-form-field>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </form>
  <form [formGroup]="qrForm" (ngSubmit)="updateSelectedProduct()">
  <mat-accordion>
    <mat-expansion-panel expanded>
      <mat-expansion-panel-header class="my-primary-text">
        <mat-panel-title>
          QRCode Information
        </mat-panel-title>
      </mat-expansion-panel-header>
      <mat-form-field flex>
        <input matInput placeholder="QRCode Text" type="text" formControlName="qrcodetxt">
        <mat-hint *ngIf="qrcodetxt.errors && (qrcodetxt.dirty || qrcodetxt.touched)" align="end" [ngStyle]="{'color': 'red'}">
          <p *ngIf="qrcodetxt.hasError('required')">QRCode text is required.</p>
        </mat-hint>
      </mat-form-field>
      <img *ngIf="selectedProduct.id !== null" style="display:block;" [src]="'data:image/png;base64,' + selectedProduct.qrcode"/>
    </mat-expansion-panel>
  </mat-accordion>
  </form>
  <br>
      <div class="mat-pad-sm">
   <span>
   <button mat-raised-button [disabled]="!productForm.valid || !inventoryForm.valid" type="button"
           (click)="updateSelectedProduct()">Save</button>
   </span>
        <span>
   <button *ngIf="selectedProduct.id" mat-raised-button type="button"
           (click)="deleted.emit(selectedProduct)">Delete</button>
   </span>
        <span>
   <button mat-raised-button type="button" (click)="cancelled.emit(selectedProduct)">Cancel</button>
   </span>
      </div>
