<mat-card *ngIf="hideEditForm" style="margin-bottom: 10vh;">
  <mat-card-header layout="row">
    <mat-card-title style="margin-bottom: 4vh;">
      <img src="../../assets/logo.jpg" height="100" width="100" style="display:flex;justify-content: center;"/>
      <span>{{ msg }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" matSort>
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Product No.</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>
      <!-- Date Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>
      <!-- Employee Id Column -->
      <ng-container matColumnDef="vendorid">
        <th mat-header-cell *matHeaderCellDef mat-sort-header>Vendor</th>
        <td mat-cell *matCellDef="let element"> {{element.vendorid}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="select(row)">></tr>
    </table>
    <div class="padtop15">
      <mat-icon (click)="newProduct()" matTooltip="Add New Vendor" class="addicon" color="primary" >
        control_point
      </mat-icon>
    </div>
  </mat-card-content>
</mat-card>
<mat-card *ngIf="!hideEditForm">
  <mat-card-header layout="row">
    <mat-card-title><span>{{ msg }}</span></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <app-product-detail [selectedProduct]="selectedProduct"
                        [products]="products"
                        [vendors]="vendors"
                        (cancelled)="cancel('cancelled')"
                        (saved)="save($event)"
                        (deleted)="delete($event)">
    </app-product-detail>
  </mat-card-content>
</mat-card>
<mat-paginator #paginator
               [length]="totalElements"
               [pageSize]="5"
               (page)="changePage($event)">
</mat-paginator>
