<mat-card align="center">
  <mat-card-content>
    <mat-card-title>
      <img src="../../assets/logo.jpg" height="100" width="100" class="image"/>
    </mat-card-title>
    <div class="mat-title my-primary-text">
      <h3>Vendoree Inc.</h3>
      <span style="font-size:x-small;">v1.0</span>
    </div>
  </mat-card-content>
  <mat-card-footer align="end" class="my-accent-text">
    &copy;Vendors - 2019
  </mat-card-footer>
</mat-card>
