<mat-card>
  <mat-card-header layout="row">
    <mat-card-title>
      <img src="../../assets/logo.jpg" height="100" width="100" class="image"/>
      <span>{{ msg }}</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]="generatorForm" novalidate>
      <div layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Vendor" formControlName="vendorid">
            <mat-option *ngFor="let vendor of vendors" [value]="vendor">{{vendor.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedVendor" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select placeholder="Choose Product" formControlName="productid" (change)="onPickProduct()">
            <mat-option *ngFor="let product of vendorproducts" [value]="product">{{product.name}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="pickedProduct" layout="row" class="pad-left-sm pad-bottom-sm">
        <mat-form-field flex>
          <mat-select  [(ngModel)]="selectedProduct.eoq" placeholder="Choose Qty" formControlName="qty" (change)="onPickEOQ()">
            <mat-option  [value]="selectedProduct.eoq" >EOQ</mat-option>
            <mat-option *ngFor="let qty of qtys" [value]="qty" >{{qty}}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <br/>
      <div *ngIf="hasProducts && selectedProduct.eoq != 0" class="row">
        <table style="top:-30px;position:relative;">
          <tr>
            <th colspan="3" class="pad-xs text-center md-subhead custom-class" style="font-weight:bold;padding:2vh;">
              Selected Products from {{selectedVendor.name}}
            </th>
          </tr>
          <tr style="font-weight:bold;;background-color: #eeeeee">
            <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Product</td>
            <td style="text-align: center;width:60%;padding-top:2vh;padding-bottom: 2vh;">Qty</td>
            <td style="text-align: center;width:20%;padding-top:2vh;padding-bottom: 2vh;">Extended</td>
          </tr>
          <tr *ngFor="let item of items">
            <td class="text-left" style="text-align: center;padding-top:1vh;padding-bottom: 1vh;">{{item.productid}}</td>
            <td width="700" class="text-left" style="text-align: center;padding-top:1vh;padding-bottom: 1vh;">{{item.qty}}</td>
            <td style="padding-top:1vh;padding-bottom: 1vh;;text-align: right">{{item.total | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Sub:</td>
            <td style="font-weight: 600;text-align: right;">{{sub | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
            <td colspan="2" style="text-align: right;padding-right: 5px;">Tax:</td>
            <td style="font-weight: 600;text-align: right;">{{tax | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
          <tr>
             <td colspan="2" style="text-align: right;padding-right: 5px;">Total:</td>
            <td class="my-primary-text" style="font-weight: 600;text-align: right;">{{final | currency:'USD':'symbol':'1.2-2'}}</td>
          </tr>
        </table>
      </div>
      <div style="text-align:center" *ngIf="hasProducts">
        <button mat-raised-button color="primary" (click)="createReport()">Add PO</button>
      </div>
      <div style="text-align:center;" *ngIf="generated">
        <button mat-raised-button type="submit" (click)="viewPdf()">View PDF</button>
      </div>
    </form>
    </mat-card-content>
